<html>
<head>
    <title>Add Resume</title>
</head>
<body>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    Resume
    <select id="resume_id" name="resume_id">
        <% for(var i=0; resume.length > i; i++ ) { %>
        <option value="<%= resume[i].resume_id %>"><%= resume[i].first_name   %></option>
        <% } %>
    </select>

    <input type="submit" />

</form>
</body>

</html>