<html>
<head>
    <title>Company - <%= result[0].company_id %></title>
</head>
<body>
<h1>Comapany</h1>
<ul>
    <li>Company ID: <%= result[0].company_id%></li>
    <li>Company Name: <%= result[0].company_name %></li>

</ul>
</body>

</html>